<!DOCTYPE html>
<html lang="en">

    <head>
    {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - Trafi</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}
    </head>

    <body>

    <div class="main-navbar">
        <ul>
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('load_csv') }}">Load csv file</a></li>
            <li><a href="{{ url_for('select_input') }}">Select uploaded file as input</a></li>
            <li><a href="{{ url_for('uploads') }}">Uploaded files</a></li>
            <li><a href="{{ url_for('employment_type_comparison') }}">Employment type comparison calculator</a></li>
            <li><a href="{{ url_for('analysis') }}">Financial analysis</a></li>
        </ul>
    </div>

    {% block content %}
    {% endblock %}
    <!-- TODO: Footer -->
    </body>
</html>